@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Our Website</h1>
    <p>You can view Ahmet's cars if you want, or you can access the products purchased by other users via the navbar.</p>
</div>
