@model Personel


@{
	//<a href="~/OtherPersonels/Doga" class="h4 shadow-lg bg-warning link-success d-flex justify-content-center rounded-pill"> Doğa'nın arabaları </a>

	<a class="h4 shadow-lg bg-warning link-success d-flex justify-content-center rounded-pill" asp-area="" asp-controller="Personel" asp-action="ShowCars" asp-route-class="@Model">Doğa'nın arabaları</a>
}